.header {
    background-color: rgb(175, 222, 255);
    min-height: 70px;
    display: flex;
    justify-content: center;
}

.header--title {
    color: black;
    align-self: center;
}

.header--hamburger-map {
    margin-right: auto;
}