
ul > li {
    margin-top: 5px;
}

#delete-btn {
    height: 40px;
    margin-left: 10px;
}

#edit-btn {
    height: 40px;
}

.task-column-highPriority,
.task-column-medPriority,
.task-column-lowPriority {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    padding: 30px 30px 30px 20px;
}

.task-column-highPriority {
    background-color: rgb(251, 232, 232);

}

.task-column-medPriority {
    background-color: rgb(251, 244, 232);

}

.task-column-lowPriority {
    background-color: rgb(238, 251, 232);

}

.edit-task {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.invisible {
    visibility: hidden;
}

.inputBox {
    text-indent: 16%;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 0.1px solid rgb(206, 206, 206);
}