.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.overlay > .editor {
    background-color: azure;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }


.task-item {
    display: flex;
    align-items: center;
    border: 2px solid rgb(158, 153, 153);
    padding: 20px;
    border-radius: 20px;
}

ul > li {
    margin-top: 5px;
}

#delete-btn {
    height: 40px;
    margin-left: 10px;
}

#edit-btn {
    height: 40px;
}

.task-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.edit-task {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.invisible {
    visibility: hidden;
}